.calificacion {
  padding: 15px;
  height: 100%;
  margin: 15px 30px;
  border: 1px solid gray;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
}
.star_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

form p {
  text-align: center;
}

form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
