.card-comic {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
}
.card-comic-title {
  padding-top: 15px;
  margin-bottom: 5px;
}
.card-comic-title-small {
  padding-top: 15px;
  padding-bottom: 0;
  font-size: 0.5em;
  margin-left: 10px;
  display: block;
}
.card-comic-img {
  padding: 15px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

@media only screen and (min-width: 992px) {
  .card-comic-title {
    padding: 15px;
    font-size: 2.5em;
  }
  .card-comic-title-small {
    padding: 15px;
    font-size: 0.6em;
    margin-left: 10px;
  }
  .card-comic-img {
    padding: 15px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .card-comic {
    padding: 10px;
    margin: auto;
    width: 50%;
    height: 100%;
  }
  .card-comic-title-small {
    font-size: 0.5em;
    margin-left: 10px;
  }
  .card-comic-img {
    width: 100%;
    height: 100%;
  }
}
