* {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}
body {
  background-color: #ddd;
}
#root {
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  #root {
    padding: 40px;
  }
}

@media only screen and (min-width: 992px) {
  #root {
    padding: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  #root {
    padding: 60px;
  }
}
